# Copyright (c) 2011, Code Aurora Forum. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of Code Aurora Forum, Inc. nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

import init.mmi.usb.rc

#start camera server as daemon
service qcamerasvr /system/bin/mm-qcamera-daemon
    class late_start
    user system
    group system camera inet

#start GNSS/Sensor interface daemon
service gsiff_daemon /system/bin/gsiff_daemon
    class late_start
    user system
    group qcom_oncrpc

on init
# Mount Points for External Storage Devices
    mkdir /mnt/usbdisk_1.1.1 0755 system system
    mkdir /mnt/usbdisk_1.0 0755 system system
    mkdir /mnt/usbdisk_1.1 0755 system system
    mkdir /mnt/usbdisk_1.2 0755 system system
    mkdir /mnt/usbdisk_1.3 0755 system system
    mkdir /mnt/usbdisk_1.4 0755 system system
    mkdir /mnt/usbdisk_1.5 0755 system system
    mkdir /mnt/usbdisk_1.6 0755 system system
    mkdir /mnt/usbdisk_1.7 0755 system system

# Mount Points for remote storage devices
    mkdir /mnt/rfs0 0755 system system
    mkdir /mnt/rfs1 0755 system system
    mkdir /mnt/rfs2 0755 system system

# Write the CDROM Block Device Path into the sysfs
   write /sys/class/android_usb/android0/cdrom_blkdev "/dev/block/platform/msm_sdcc.1/by-name/cdrom"

# For Authentec VPN: route packets over bridge interface before processing
    write /proc/sys/net/bridge/bridge-nf-call-arptables 0
    write /proc/sys/net/bridge/bridge-nf-call-iptables  0
    write /proc/sys/net/bridge/bridge-nf-call-ip6tables 0

# Enable soft lockup panic
    write /proc/sys/kernel/softlockup_panic 1

# To configure core dump
    write /proc/sys/kernel/core_pattern "|/system/bin/coredump %e %p %t"
    write /proc/self/coredump_filter "0x7f"
    write /proc/sys/fs/suid_dumpable 2

on early-boot
    # Annotate panics with helpful information
    exec /system/bin/apanic_annotate.sh build

    # Define Motorola DBVC ATVC Property defaults (failsafe properties)
    setprop ro.sys.atvc_allow_netmon_usb 0
    setprop ro.sys.atvc_allow_netmon_ih 0
    setprop ro.sys.atvc_allow_res_core 0
    setprop ro.sys.atvc_allow_res_panic 0
    setprop ro.sys.atvc_allow_all_adb 0
    setprop ro.sys.atvc_allow_all_core 0
    setprop ro.sys.atvc_allow_efem 0
    setprop ro.sys.atvc_allow_bp_log 0
    setprop ro.sys.atvc_allow_ap_mot_log 0
    setprop ro.sys.atvc_allow_simswap 0

    # Need to launch qseecomd before enc_mgt_tool
    start qseecomd

    # Need to launch enc_mgt_tool to create device key and signature for vold to set up sd card
    start enc_tool

# on emmc mount the partition containing firmware
on emmc-fs
    mkdir /tombstones 0771 system system
    exec /system/bin/logwrapper /system/bin/mount_ext4.sh tombstones /dev/block/platform/msm_sdcc.1/by-name/tombstones /tombstones
    mkdir /tombstones/modem 0771 system system
    mkdir /tombstones/lpass 0771 system system
    mkdir /tombstones/wcnss 0771 system system
    mkdir /tombstones/dsps 0771 system system

    mkdir /firmware 0771 system system
    wait /dev/block/mmcblk0p1
    # resize modem partition (no-op if correctly sized)
    exec /system/bin/resize2fs /dev/block/platform/msm_sdcc.1/by-name/modem
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/modem /firmware ro nosuid nodev
    exec /system/bin/sh /system/etc/init.qcom.modem_links.sh
    exec /system/bin/sh /system/etc/init.qcom.mdm_links.sh

    mkdir /pds 0755 root root
    exec /system/bin/mountpds -d /dev/block/platform/msm_sdcc.1/by-name/pds -m rw

    exec /system/bin/logwrapper /system/bin/hardware_revisions.sh

on post-fs
   mount ext4 /dev/block/platform/msm_sdcc.1/by-name/system /system ro remount

# Enable Cifs module
    insmod /system/lib/modules/cifs.ko

# Install webtop modules
    insmod /system/lib/modules/evfwd.ko

on post-fs-data
    copy /proc/apanic_app_threads /data/dontpanic/apanic_app_threads
    chown root log /data/dontpanic/apanic_app_threads
    chmod 0660 /data/dontpanic/apanic_app_threads

# directory for encryption management tool, enc_mgt_tool
    mkdir /data/emt 0770 root system

# To remove apanic proc entry
    write /proc/apanic_console 1

on boot
   mount debugfs /sys/kernel/debug /sys/kernel/debug

# Set core max size (2G)
   setrlimit 4 2147483648 2147483648

# Setup 160M zram device for swap space
   write /sys/block/zram0/disksize 167772160
   exec /system/bin/motobox mkswap /dev/block/zram0
   exec /system/bin/motobox swapon /dev/block/zram0

   # Permissions for battery health daemon
   chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_real_fcc_batt_temp
   chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_real_fcc_mah
   chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_soc
   chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_ocv_uv
   chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_rbatt
   chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_charge_increase
   chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_chargecycles
   chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/bms_aged_capacity
   chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/timestamp
   chown mot_pwric mot_pwric /sys/devices/platform/msm_ssbi.0/pm8921-core/pm8921-charger/pcb_temp

   # Permissions for Factory Test of Charging Paths
   chown mot_pwric mot_pwric /sys/devices/platform/msm_ssbi.0/pm8921-core/pm8921-charger/force_chg_auto_enable
   chown mot_pwric mot_pwric /sys/devices/platform/msm_ssbi.0/pm8921-core/pm8921-charger/force_chg_ibatt
   chown mot_pwric mot_pwric /sys/devices/platform/msm_ssbi.0/pm8921-core/pm8921-charger/force_chg_itrick
   chown mot_pwric mot_pwric /sys/devices/platform/msm_ssbi.0/pm8921-core/pm8921-charger/force_chg_iusb
   chown mot_pwric mot_pwric /sys/devices/platform/msm_ssbi.0/pm8921-core/pm8921-charger/force_chg_usb_suspend

   # Chage leds permissions for factory
   chmod 0664 /sys/class/leds/charging/brightness
   chmod 0664 /sys/class/leds/red/brightness
   chmod 0664 /sys/class/leds/blue/brightness
   chmod 0664 /sys/class/leds/green/brightness
   chmod 0664 /sys/class/leds/red/blink
   chmod 0664 /sys/class/leds/shift-key-light/brightness
   chmod 0664 /sys/class/leds/keyboard-backlight/brightness
   chmod 0664 /sys/class/backlight/lcd-backlight/brightness
   chmod 0664 /sys/class/backlight/lcd-backlight/max_brightness

   # PWM Control for screen backlight
   chmod 0664 /sys/class/backlight/lcd-backlight/device/pwm
   chown system system /sys/class/backlight/lcd-backlight/device/pwm

   # Change the ownership of touch screen files for tcmd
   chown root input /sys/bus/i2c/drivers/melfas-ts/3-0048/irq_enabled
   chown root input /sys/bus/i2c/drivers/melfas-ts/3-0048/hw_irqstat
   chown root mot_tcmd /sys/bus/i2c/drivers/cyttsp3-i2c/3-003b/drv_irq
   chown root mot_tcmd /sys/bus/i2c/drivers/atmxt-i2c/3-004a/drv_irq

   # Change whisper permissions
   chmod 0660  /sys/devices/platform/emu_det/WHISPER_UART_TX_GPIO/value
   chmod 0660  /sys/devices/platform/emu_det/WHISPER_UART_RX_GPIO/value
   chmod 0660  /sys/devices/platform/emu_det/EMU_SCI_OUT_GPIO/value
   chmod 0660  /sys/devices/platform/emu_det/SEMU_ALT_MODE_EN_GPIO/value
   chmod 0660  /sys/devices/platform/emu_det/SEMU_PPD_DET_GPIO/value
   chmod 0660  /sys/devices/platform/emu_det/DMB_PPD_DET_GPIO/value

   # Change ownership of emu detect to mot_accy
   chown mot_accy mot_accy  /sys/devices/platform/emu_det/mode
   chown mot_accy mot_accy  /sys/devices/platform/emu_det/WHISPER_UART_TX_GPIO/value
   chown mot_accy mot_accy  /sys/devices/platform/emu_det/WHISPER_UART_RX_GPIO/value
   chown mot_accy mot_accy  /sys/devices/platform/emu_det/EMU_SCI_OUT_GPIO/value
   chown mot_accy mot_accy  /sys/devices/platform/emu_det/SEMU_ALT_MODE_EN_GPIO/value
   chown mot_accy mot_accy  /sys/devices/platform/emu_det/SEMU_PPD_DET_GPIO/value
   chown mot_accy mot_accy  /sys/devices/platform/emu_det/DMB_PPD_DET_GPIO/value

   # Change permissions for Enabling/Disabling toush screen IRQ
   chmod 0660 /sys/bus/i2c/drivers/melfas-ts/3-0048/irq_enabled
   chmod 0660 /sys/bus/i2c/drivers/cyttsp3-i2c/3-003b/drv_irq
   chmod 0660 /sys/bus/i2c/drivers/atmxt-i2c/3-004a/drv_irq

   # Change permissions for the MELFAS touch IC reset line
   chmod 0660  /sys/bus/i2c/devices/3-0048/drv_reset
   chown system system /sys/bus/i2c/devices/3-0048/drv_reset

   # Change permissions for vibrator enable
   chmod 0660 /sys/class/timed_output/vibrator/enable

   # Change permissions for the factory kill switch
   chmod 0660   /sys/class/gpio/gpio75/value
   chown system system  /sys/class/gpio/gpio75/value

   chmod 0660   /sys/class/graphics/fb0/acl_mode
   chown system system  /sys/class/graphics/fb0/acl_mode

   chmod 0660   /sys/class/graphics/fb0/elvss_tth_status
   chown system system  /sys/class/graphics/fb0/elvss_tth_status

   # Create directory used by power_supply logger
   mkdir /data/power_supply_logger 0755 mot_pwric mot_pwric

   write /sys/devices/i2c-3/3-0024/cyttsp_update_fw 1
   start qcamerasvr

   # Change pn544_control_dev permission
   chown nfc nfc /sys/devices/virtual/misc/pn544/pn544_control_dev
   chmod 0660 /sys/devices/virtual/misc/pn544/pn544_control_dev

# create the necessary data dirs for tpapi with proper permission
    mkdir /dev/tpapi 2770 mot_tpapi mot_tpapi
    mkdir /data/tpapi
    mkdir /data/tpapi/etc
    mkdir /data/tpapi/etc/tpa
    mkdir /data/tpapi/etc/tpa/persistent
    chmod 2770 /data/tpapi
    chmod 2770 /data/tpapi/etc
    chmod 2770 /data/tpapi/etc/tpa
    chmod 2770 /data/tpapi/etc/tpa/persistent
    chown mot_tpapi mot_tpapi /data/tpapi
    chown mot_tpapi mot_tpapi /data/tpapi/etc
    chown mot_tpapi mot_tpapi /data/tpapi/etc/tpa
    chown mot_tpapi mot_tpapi /data/tpapi/etc/tpa/persistent

    # create logger folder
    mkdir /data/logger 0750 log log
    mkdir /data/diag_mdlog 0750 system log
    mkdir /data/panicreports 0775 root radio
    mkdir /data/panicreports/qpanic 0775 root radio

    mkdir /data/tombstones 0775 system mot_tombstone
    mkdir /data/tmp 0777 system system

    mkdir /data/misc/ril 0750 radio radio
    mkdir /data/misc/ril/bp-dumps 0750 radio log

    # Create anr directory and change permission to 775 to save trace.txt
    mkdir /data/anr 0775 system system

    # Backup ramconsole on abnormal reboot.
    copy /proc/last_kmsg /data/dontpanic/last_kmsg
    chown root log /data/dontpanic/last_kmsg
    chmod 0644 /data/dontpanic/last_kmsg

    # Enable production security key check for 3LM
    setprop ro.3lm.production 1

    # Set correct permissions for HOB shared RAM and Partitions
    chown radio radio /dev/mot_hob_ram
    chown root radio /dev/block/platform/msm_sdcc.1/by-name/hob
    chown root radio /dev/block/platform/msm_sdcc.1/by-name/dhob
    chmod 0660 /dev/mot_hob_ram
    chmod 0660 /dev/block/platform/msm_sdcc.1/by-name/hob
    chmod 0660 /dev/block/platform/msm_sdcc.1/by-name/dhob

    # Setup correct permissions for CID partition
    chown root mot_tcmd /dev/block/platform/msm_sdcc.1/by-name/cid
    chmod 0660 /dev/block/platform/msm_sdcc.1/by-name/cid

    # Setup correct permissions for /pds/public

    mkdir /pds/public/atvc 0775 mot_tcmd shell
    chmod 0775 /pds/public/atvc
    mkdir /data/local/dbvc 0750 mot_tcmd shell

# Create 12m directory that TCMD can write to
    mkdir /data/local/12m 0750 mot_tcmd shell

# Define TCP buffer sizes for ethernet
#   ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.ethernet    131072,262144,524288,4096,16384,131072

# Set permissions for evfwd module (webtop)
    chown system system /sys/devices/platform/evfwdrel/rel
    chown system system /sys/devices/platform/evfwdkbd/kbd
    chown system system /sys/devices/platform/evfwdabs/abs

# Perform misc target initialization
    exec /system/bin/sh /system/bin/init.target.sh

# Start services
   exec /system/bin/mot_boot_mode

on charger
    trigger early-fs
    trigger emmc-fs
    trigger fs
    trigger post-fs
    trigger post-fs-data
    trigger property_service_init
    trigger start-charging

on start-charging
   # Permissions for battery health daemon
   chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_real_fcc_batt_temp
   chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_real_fcc_mah
   chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_soc
   chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_ocv_uv
   chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_rbatt
   chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_charge_increase
   chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_chargecycles
   chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/bms_aged_capacity
   chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/timestamp
   chown mot_pwric mot_pwric /sys/devices/platform/msm_ssbi.0/pm8921-core/pm8921-charger/pcb_temp

   # Permissions for Factory Test of Charging Paths
   chown mot_pwric mot_pwric /sys/devices/platform/msm_ssbi.0/pm8921-core/pm8921-charger/force_chg_auto_enable
   chown mot_pwric mot_pwric /sys/devices/platform/msm_ssbi.0/pm8921-core/pm8921-charger/force_chg_ibatt
   chown mot_pwric mot_pwric /sys/devices/platform/msm_ssbi.0/pm8921-core/pm8921-charger/force_chg_itrick
   chown mot_pwric mot_pwric /sys/devices/platform/msm_ssbi.0/pm8921-core/pm8921-charger/force_chg_iusb
   chown mot_pwric mot_pwric /sys/devices/platform/msm_ssbi.0/pm8921-core/pm8921-charger/force_chg_usb_suspend
  start batt_health
  start whisperd
  start qcom-post-boot
  write /sys/devices/system/cpu/cpu1/online 0
  exec /system/bin/charge_only_mode

on property:sys.chargeonly.mode=1
  class_stop core
  class_stop main
  class_stop late_start
  start batt_health
  start whisperd
  start qcom-post-boot
  write /sys/devices/system/cpu/cpu1/online 0
  write /data/chargeonlymode charging
  exec /system/bin/charge_only_mode

on property:ro.build.type=eng
   chmod 0777 /data/anr
   chmod 0777 /data/misc

on property:ro.build.type=userdebug
   chmod 0777 /data/anr
   chmod 0777 /data/misc

service atvc /system/bin/dbvc_atvc_property_set
   class main
   user system
   group system
   oneshot

service thermald /system/bin/thermald
   class main
   user root
   group root

service mpdecision /system/bin/mpdecision --no_sleep --avg_comp
   user root
   disabled

service ftmipcd /system/bin/ftmipcd
    disabled
    oneshot

on property:ro.bootmode=factory
    start ftmipcd

# Power up to suspend
on property:tcmd.suspend=1
    stop surfaceflinger
    stop zygote
    stop sensors
    write /sys/kernel/factory_gsbi12_mode/install 1
    setprop debug.sf.nobootanimation 1

# Normal to suspend
on property:tcmd.suspend=2
    stop surfaceflinger
    stop zygote
    stop sensors
    write /sys/kernel/factory_gsbi12_mode/install 1
    setprop debug.sf.nobootanimation 1

service tcmd /system/bin/tcmd
    class core
    group mot_tcmd radio mot_pwric input system log camera graphics mot_accy sdcard_rw audio inet bluetooth wifi compass net_bt_admin mot_tombstone mot_tpapi mount net_raw net_admin mot_whisper media shell mot_usb nfc fm_radio
    socket local_tcmd stream 0660 mot_tcmd mot_tcmd
    socket batch_socket stream 0600 mot_tcmd mot_tcmd
    oneshot

service tcmdhelp /system/bin/tcmdhelp
    class main
    socket tcmdhelp stream 0600 mot_tcmd mot_tcmd
    oneshot
    disabled

on property:tcmd.start_tcmdhelp=1
    start tcmdhelp

on property:tcmd.ctrl_adb=1
    setprop persist.factory.allow_adb 1

on property:tcmd.ctrl_adb=0
    setprop persist.factory.allow_adb 0

on property:persist.factory.allow_adb=1
    write /sys/class/android_usb/android0/pc_command_adb "adb"
    setprop sys.usb.config $sys.usb.config
    start adbd

on property:persist.factory.allow_adb=0
    write /sys/class/android_usb/android0/pc_command_adb " "
    setprop sys.usb.config $sys.usb.config
    stop adbd

service qe /xbin/qe /system
    class main
    oneshot

# The dload.on sys prop provides one-step control over DLOAD Mode.  It sets the
# allow bit in the sysfs, and then runs qcookie to update the cookie in
# external storage.
on property:persist.sys.qc.dload.on=*
    write /sys/module/restart/parameters/download_mode $persist.sys.qc.dload.on
    start qcookie

# TODO: Is there a sysfs node for allowing ramdumps?  If so, set it here so
# that this works just like dload.on above.
on property:persist.sys.qc.rdump.on=*
    start qcookie

on property:persist.sys.qc.sub.rdump.on=*
    write /sys/module/subsystem_restart/parameters/enable_ramdumps $persist.sys.qc.sub.rdump.on

on property:persist.sys.qc.sub.rstrtlvl=*
    write /sys/module/subsystem_restart/parameters/restart_level $persist.sys.qc.sub.rstrtlvl

service qcookie /system/bin/qcookie
    user shell
    group sdcard_rw
    oneshot
    disabled

service wdtest /system/bin/insmod /system/lib/modules/msm_watchdog_test_module.ko
    group system mot_tcmd
    oneshot
    disabled

service utag /system/bin/insmod /system/lib/modules/config.ko
    group mot_tcmd
    oneshot
    disabled

service whisperd /system/bin/whisperd /dev/ttyHS1
    class core
    user mot_whisper
    group mot_whisper mot_pwric
    oneshot

service kickstart /system/bin/qcks l
    oneshot
    disabled

service qseecomd /system/bin/qseecomd
   class core
   user system
   group system

service batt_health /system/bin/batt_health
    class main
    group mot_pwric

# dlnasrv native service can be launched on demand
service dlnasrv /system/bin/dlnasrv
    class main
    user mot_dlna
    group system net_admin sdcard_rw new_raw inet mount misc
    oneshot
    disabled

# Start kickstart if mdm is detected
on property:ro.baseband=mdm
    mkdir /data/qcks 0770 system system
    start kickstart

service telnet /system/bin/telnetd
    class core

#start Authentec VPN service
service vpnclientpm /system/bin/vpnclientpm
    class main
    disabled
    user root

service JuniperVPNTools /system/bin/JuniperVPNTools
    class main
    user vpn
    group vpn system net_admin net_raw

service CifsMount /system/bin/CifsMount
    class main
    user  root
    group system

service bug2go-bugreport /system/bin/bug2go-bugreport
    class main
    disabled
    oneshot
    keycodes 115 116 # VOLUME_UP + PWR

service qdumpd /system/bin/qdumpd
    class main
    user radio
    group log sdcard_rw

service RescueStarter /system/bin/RescueStarter
    class main
    user graphics
    group input graphics

#Run multiconfig script to check if config is updated
service start_mc_service /system/bin/sh /system/bin/multiconfig_boot_script.sh
    class main
    oneshot

# aplogd on at boot in emulator
on property:ro.kernel.qemu=1
    start aplogd

on property:persist.log.aplogd.enable=1
    start aplogd

on property:persist.log.aplogd.enable=0
    stop aplogd

service aplogd /system/bin/aplogd
    class main
    #user log
    #group log system sdcard_rw mount
    # The user and group definitions above are intentionally disabled and left
    # only as documentation. It actually starts as root and immediately drops
    # to log plus those groups after preserving CAP_SYS_ADMIN, which is required
    # for kernel logging.
    disabled

service modemlog /system/bin/modemlog
   class core
   user system
   group system log
   oneshot

on property:persist.sys.diag_mdlog.on=1
    start diag_mdlog

on property:persist.sys.diag_mdlog.on=0
    stop diag_mdlog

service diag_mdlog /system/bin/diag_mdlog-wrap
    class main
    user system
    group log system sdcard_rw
    disabled

service getmd5 /system/bin/getmd5
    user system
    group system
    oneshot
    disabled

on property:sys.boot_completed=1
    start getmd5

# Backup/Restore Feature
on property:mot.backup_restore.status="Finished"
    start zygote

service mot_backup /system/bin/logwrapper /system/xbin/run_backup /system/etc/backup_targets.csv
    disabled
    user root
    oneshot

service mot_restore /system/bin/logwrapper /system/xbin/run_restore /system/etc/backup_targets.csv
    disabled
    user root
    oneshot

on property:mot.backup_restore.action="run_backup"
    setprop mot.backup_restore.status "Running"
    stop zygote
    start mot_backup

on property:mot.backup_restore.action="run_restore"
    setprop mot.backup_restore.status "Running"
    stop zygote
    start mot_restore

# Define the trigger to Start FastDormancy service
service start_fd  /system/bin/sh /system/bin/am startservice -a com.motorola.fastdormancy.start
    disabled
    user system
    group system
    oneshot

# Define the trigger to stop FastDormancy service
service stop_fd  /system/bin/sh /system/bin/am broadcast -a  com.motorola.fastdormancy.stop
    disabled
    user system
    group system
    oneshot

# Define the enc_mgt_tool as a service here instead of using exec commands
service enc_tool /system/bin/enc_mgt_tool
    disabled
    user root
    oneshot

#Trigger FastDormancy service start when network type is changed to UMTS
on property:gsm.network.type="UMTS:3"
    start start_fd

on property:gsm.network.type="HSDPA:9"
    start start_fd

on property:gsm.network.type="HSUPA:10"
    start start_fd

on property:gsm.network.type="HSPA:11"
    start start_fd

on property:gsm.network.type="HSPAP:15"
    start start_fd


#Trigger FastDormancy service stop when network is unknow or CDMA
#GSM, GPRS, EDGE, and HSPAP is not handled in order to avoid the service to be started and stopped back and force.
on property:gsm.network.type="Unknown:0"
    start stop_fd

on property:gsm.network.type="CDMA-IS95A:4"
    start stop_fd

on property:gsm.network.type="CDMA-IS95B:5"
    start stop_fd

on property:gsm.network.type="1xRTT:6"
    start stop_fd

on property:gsm.network.type="EvDo-rev.0:7"
    start stop_fd

on property:gsm.network.type="EvDo-rev.A:8"
    start stop_fd

on property:gsm.network.type="EvDo-rev.B:12"
    start stop_fd

on property:gsm.network.type="eHRPD:13"
    start stop_fd

on property:gsm.network.type="LTE:14"
    start stop_fd

# Annotate panics with helpful information
on property:gsm.version.baseband=*
    exec /system/bin/apanic_annotate.sh baseband

on property:tcmd.whisper=3
    stop whisperd

on property:tcmd.whisper=4
    start whisperd

# start the enc_mgt_tool to set the keysig when decrypted userdata partition is mounted
on property:vold.decrypt=trigger_restart_framework
    start enc_tool

# Check available storage space to execute device encryption or decryption
on property:sys.mot.encrypt.test=1
    exec /system/bin/enc_mgt_tool --test
    setprop sys.mot.encrypt.test ""

# Handle device encryption key protection request
on property:sys.mot.encrypt.pass.prot=1
    exec /system/bin/enc_mgt_tool --password_prot
    setprop sys.mot.encrypt.pass.prot ""

# VMware MVP Hypervisor daemon
service mvpd /system/bin/mvpd -F
    class main
    user root
    disabled
